<% if item.errors.any? %>
  <div id="error_explanation" class="mb-3">
    <h5><%= pluralize(item.errors.count, "error") %> prohibited this record from being saved:</h5>

    <ul>
    <% item.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>