<h1 class="h3">Editing Auction</h1>

<%= render 'form', auction: @auction %>

<%= link_to 'Show', @auction %> 
<%= link_to 'Delete', @auction, method: :delete %> 
<%= link_to 'Back', auctions_path %>
