<section class= "form-auth text-center row d-flex justify-content-center banner_part">
  <div class='single_banner_slider'>
    <div class="banner_text">
      <div class="col-3 padding_top banner_text_iner">
        <h1 class="h3 mb-3 font-weight-normal">Update Auction</h1>
        <%= render 'form', auction: @auction %>
      </div>
    </div>
  </div>
</section>

