// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main_menu {
  background-color: #ecfdff;
  position: relative;
}

.navbar-brand img {
  margin-top: -16px;
}