<span class="text-center">
    <% if notice %>
        <div class="alert-success" role="alert"><%= notice %></div>
    <%else%>
        <div class="alert-danger" role="alert"><%= alert %></div>
    <% end %>
</span>
